/files
/libregal-dev.debhelper.log
/libregal-dev.postinst.debhelper
/libregal-dev.postrm.debhelper
/libregal-dev.substvars
/libregal-dev/
/libregal-progs.debhelper.log
/libregal-progs.substvars
/libregal-progs/
/libregal.debhelper.log
/libregal.postinst.debhelper
/libregal.postrm.debhelper
/libregal.substvars
/libregal/
